body {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif 
}

/* Header */

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

header ul {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 1em;
}

header a {
    text-decoration: none;
    color: #F9FAF8;
}

/* Hero Main */

.home {
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.home-wrapper {
    padding: 0 1em;
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.home-intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    gap: 1em;
}

.home-img img {
    max-width: 442px;
}

.home-intro button {
    align-self: flex-start;
}

.home h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.home p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

/* About Us */

.about-us {
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
    text-align: center;
}

.au-wrapper {
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: space-between;
}

.about-us h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.services {
    display: flex;
    gap: 4rem;
    flex: 1;
    align-items: baseline;
}

.service {
    max-width: 350px;
    max-height: 350px;
}

.services img {
    border-radius: 5%;
    border: 2px solid blue;
}

/* Testimony */

.testimony {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-wrapper {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.test-main {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.test-name {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.test-name p {
    font-weight: bold;
    font-size: 22px; 
}

/* Universal Styles */

section {
    display: flex;
    height: 93vh;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

button:hover {
    background-color: #1b5bc4;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}